<html>
<head>
	<link rel="stylesheet" href="styles.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<div class="wrapper">
		<form id="file_upload_form" action="/upload" method="post" enctype="multipart/form-data">
			<div class="row">
				<div class="col-md-6 form-group">
					<label for="file_select">Выбор файлов</label>
					<input class="form-control" id="file_select" type="file" name="images[]" multiple>
				</div>
				<div class="col-md-6 form-group">
					<label for="quality">Качество JPG</label>
					<input class="form-control" id="quality" type="number" name="quality" min="1" max="100" value="80">
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="radio">
						<label>
							<input id="change-size-no" type="radio" name="resize" value="no" checked="checked">
							Не менять размер
						</label>
					</div>
					<div class="radio">
						<label>
							<input id="change-size-fit" type="radio" name="resize" value="fit">
							Вместить
						</label>
					</div>
					<div class="radio">
						<label>
							<input id="change-size-fill" type="radio" name="resize" value="fill">
							Заполнить
						</label>
					</div>
				</div>
				<div class="col-md-6 form-group">
					<label for="resize-width">Ширина</label>
					<input id="resize-width" class="form-control" type="number" name="width" placeholder="Ширина">
					<label for="resize-height">Высота</label>
					<input id="resize-height" class="form-control" type="number" name="height" placeholder="Высота">
				</div>
			</div>
			<div class="form-group">
				<label for="file_select">Общий размер (не более 25 MB):</label>
				<span id="sum-file-size">0 kB</span>
			</div>
		</form>
		<button id="upload-button" class="btn btn-primary form-control">Сжать</button>
		<button id="cancel-button" class="btn btn-danger form-control hidden">Остановить</button>
		<form class="hidden" id="download-zip" action="/get_zip" method="post">
			<input id="imageLinksInput" type="hidden" name="links" value="">
			<input class="btn btn-success form-control" type="submit" value="Скачать архивом">
		</form>
	</div>
	<script type="application/javascript" src="script.js"></script>
</body>
</html>
